@model Assignment4_Elections.Models.Filings

@{
    ViewData["Title"] = "Filings";
}

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<h2>Filings</h2>

<table>
    <thead>
        <tr>
            <th>File Number</th>
            <th>Committee Id</th>
            <th>Last Updated</th>
            <th>Candidate Id</th>
            <th>Report Year</th>
            <th>Total Disbursements</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.results)
        {

            <tr>

                <td>@Html.DisplayFor(modelItem => item.file_number)</td>
                <td>@Html.DisplayFor(modelItem => item.committee_id)</td>
                <td>@Html.DisplayFor(modelItem => item.update_date)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_id)</td>
                <td>@Html.DisplayFor(modelItem => item.report_year)</td>
                <td>@Html.DisplayFor(modelItem => item.total_disbursements)</td>
            </tr>

        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

